<div ng-if="ctrl.shouldShowCreatingBtn(ctrl.currentCategory)">
    <hr/>
	<button type="button" class="btn btn-link" ng-click="ctrl.startCreating(ctrl.currentCategory);">

		<span class="glyphicon glyphicon-plus"></span>
		Create Bookmark

	</button>

    <form class="create-form" ng-show="ctrl.shouldShowCreating()" role="form" ng-submit="ctrl.createBookmark(ctrl.newbookmark)" novalidate>

        <div class="form-group">
            <label for="newBookmarkTitle">Bookmark Title</label>
            <input type="text" class="form-control" id="newBookmarkTitle" ng-model="ctrl.newbookmark.title" placeholder="Enter title">
        </div>

        <div class="form-group">
            <label for="newBookmarkURL">Bookmark URL</label>
            <input type="text" class="form-control" id="newBookmarkURL" ng-model="ctrl.newbookmark.url" placeholder="Enter URL">
        </div>

        <button type="submit" class="btn btn-info btn-lg">Create</button>

        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="ctrl.cancelCreating()">Cancel</button>

    </form>
</div>	